body {
    background-color: #2b99ea;
}
td.square {
    color: #0e1758;
    border-style: groove;
    font-size: 22px;
    font-family: Verdana;
}
td.result {
    color: #2276ff;
    border-style: groove;
    font-size: 30px;
    height: 72px;
    font-family: Verdana;
    text-align: center;
}
#right_answer {
    background-color: #2affaa;
    border-style: groove;
    color: #2276ff;
    font-size: 30px;
    font-family: Verdana;
    text-align: center;

}
#time_td {
    background-color: #2b99ea;
    width: 80px;
    height: 27px;
    font-size: 20px;
    color: #ffe230;
 }
table.time_table {
    border-style: outset;
    border-color: #041254;
    border-width: thin;
    margin-left: auto;
}
table.game {
    background-color: #2affaa;
    border-style: dashed;
    width: 320px;
    height: 400px;
    table-layout: fixed;
}
.mybutton {
    height: 50px;
    width: 303px;
    font-size: 20px;
    font-family: Clarendon;
    font-weight: bolder;
}
#user_input{
    height: 27px;
    width: 300px;
    font-family: "Vineta BT";
    font-size: 25px;
}
span.victory {
    font-size: 70px;
    font-family: ScriptS;
    color: #0021ff;
    margin-left: auto;
}
button.new_game {
    height: 60px;
    width: 500px;
    color: #145835;
    font-size: 30px;
    font-family: Molot;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}